body {
    padding-top: 5rem;
}
  
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
  
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
